# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Scraper cache
.yok_cache/

# Environment
.env

# web backend runtime data
web/backend/*.db
web/backend/uploaded_cvs/

# web frontend
web/frontend/node_modules/
web/frontend/dist/

# OS
.DS_Store
